/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body{
	margin: 0% 25% 2% 25%;
	padding-left: 5%;
	padding-right: 5%;
}

p{
	font-family: 'Righteous', cursive;
	font-size: 16px;
}

nav > a{
	display: inline-block;
	text-decoration: none;
	color:white;
	font-size: 18px;
	word-spacing: 20px;
	padding-right: 6%;
	padding-bottom: 1%;
	
	
}

a:hover{
	color: orange;
	text-decoration: underline white;
}

nav{
	padding: 1%;
	margin-bottom: 8%;
	margin-top: .3%;
	background-color: gray;
	border-radius: 2%;
	overflow: hidden;
	position: fixed;
	margin-bottom: 12%;
	width: 1000.25px;
	

	
}

.logo{
	display: inline-block;
	align-items: right;
	justify-content: right;
	padding-left: 6%;
}

h1{
	
	font-size: 83px;
}



h3{
	font-size: 24px;
}

h3:hover{
	text-decoration: underline  orange;
}





#imgpi{
	display: inline-block;
	align-items: right;
}

#imgpisec{
	display: inline-block;
	text-align: center;
	padding-right: 13%;
	padding-bottom: 13%;
	padding-left: 2%;
	text-align: center;
	margin-top: 20%;

}

button{
	background: none;
	border: solid black 2px;
	font-size: 14px;
	color: black;	
	width: 150px;

}

button:hover{
	background-color: orange;
}

.subsec{
	display: inline-block;
	max-width: 47%;
	margin: 1%;
}

.subsecb{
	display: inline-block;
	max-width: 30%;
	margin: 1%;
}

#addy{
	font-size: 24px;
}

#copy{
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
}